<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>OS Elements</title>

    <script type="text/javascript" src="../build/vendor_libs.bundle.js"></script>
    <link rel="stylesheet" href="../build/vendor_libs.css">

</head>
<body layout="column" flex ng-controller="map-ctrl as ctrl" class="ng-cloak">

<md-toolbar class='header'>
    <div class="md-toolbar-tools">
        <h1>OS Elements Starter Application</h1>
    </div>
</md-toolbar>

<section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 menubar" md-component-id="left" md-is-locked-open="true"
                layout="column">
        <md-content layout-padding>
            <md-radio-group ng-model="ctrl.selectedLayer">
                <md-radio-button ng-repeat="layer in ctrl.layers" ng-value="layer">{{layer.name}}</md-radio-button>
            </md-radio-group>
            <pre>{{ctrl.drawingLayers[0].style | json}}</pre>
            <pre>{{ctrl.drawingLayers[0].source.geojson.object.features[0].geometry | json}}</pre>
        </md-content>

    </md-sidenav>
    <md-content flex layout="row">
        <div flex>
            <openlayers os-max-size ol-center="ctrl.center" ol-defaults="ctrl.defaults" ol-view="ctrl.view" custom-layers="true" width="100%" height="100%">
                <ol-layer name="{{ ctrl.selectedLayer.name }}" ol-layer-properties="ctrl.selectedLayer"></ol-layer>
                <ol-layer ng-repeat="layer in ctrl.drawingLayers" name="{{ layer.name }}" ol-layer-properties="layer"></ol-layer>
                <os-map-controls>

                    <os-map-control-polygon
                                os-feature-layer="ctrl.drawingLayers[0]"
                                style="position: absolute; top: 100px;"></os-map-control-polygon>
                </os-map-controls>

                <os-left-slider>

                </os-left-slider>

            </openlayers>

        </div>
    </md-content>
</section>

<script type="text/javascript" src="../build/app.js"></script>

<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>